.color {
  background: linear-gradient(-45deg, #050633, #050230, #050230, #050230);
 

  animation: gradient 80s ease infinite;
}  

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
