.color {
  background: linear-gradient(-45deg, #2e193b, #281e42, #09062e, #050230);
 

  animation: gradient 40s ease infinite;
}  

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
